div .mailWrapper{
height: 10%;
border: 1px solid #a2a2a3;
border-radius: 5px;
margin-bottom: 1px;
display: flex;

align-items:center;
flex-direction: row;
}  

.mail-text{
    flex: 1;
    text-align: center ;
}

.mail-text-prev {
    flex: 2;
    text-align: center ;  
}

.mail-text-input{
    flex: 1;
    padding-left: 15px;
}

.mail-cont-wrapper{
    display: flex;
    flex-direction: row;
    align-items:center;
    
}

.link{
    flex:25;
    text-decoration: none;
    color: black;
}

.deleted{
    text-decoration: line-through;
    opacity: 0.5;
}