.btn-wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.button {
    flex: 15;
    margin: 0 4px;
    cursor: pointer;

}

.check {
    flex: 1;
}


.compose {
    background-color: #fff;
}

.delete{
    background-color: rgba(255, 0, 0, 0.6);
    font-weight: bold;
    border: 1px solid grey;
}

.ref{
    background-color: rgba(62, 255, 62, 0.61);
    border: 1px solid grey;
}


@media only screen and (max-width: 600px){
    .btn-wrapper{
        padding-left: 4px;
    }
  }

  @media only screen and (max-width: 768px) and (min-width: 600px){
    .btn-wrapper{
        padding-left: 4px;
    }
  }