
.cmps-wrapper{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(223, 227, 247);
    
}



.cmps-input{
    border: none;
    border-bottom: 1px solid grey;
    background-color: rgb(223, 227, 247);
    font-size: 16px;
    margin: 10px 0;
    width:  100%;
    
}

.cmps-input:focus{
    outline: none;
    
}

.cmps-label{
    font-weight: bold;
    width: 63vw;
}



.cmps-text{
    height: 47vh;
    width: 62.2vw;
    padding: 5px;
    margin: 10px 0;
    outline: none;
    font-size: 16px;
    
    resize: none;
}

.cmps-submit{
    margin: 0;
    padding: 0;

    width: 63vw;
}