
.login-error-message{
    color: red;
    font-weight: bold;
    display: block;
    margin: 5px 0 10px 0;
}

.login-warning-message{
    color: rgba(218, 65, 65, 0.829);
    margin-left: 10px;
}

.login-input{
    all: unset;
    height: 30px;
    margin: 7px 0;
    width: 100%;
    border-bottom: solid 1px black;
    outline: none;
    background-color: rgb(216, 216, 216);
}

.login-form-wrap{
    width: 80%;
}
