.app-header{
  background-color: rgb(184, 184, 184);
  height: 80px;
  border-radius: 0 0 8px 8px;
}

.app-logo{
  height: 80px;
  cursor: pointer;
  margin: 0 0 0 15px;
}

.header-user-email{
  margin: 25px;
  float: right;
  cursor: pointer; 
}

.userEmail:hover{
  color: rgb(19, 41, 136);
}

.main-content-wrapper{
  height: 88vh;
  background-color: rgb(223, 227, 247);
}

.main-content{
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(300px, 2fr);
  background-color: rgb(223, 227, 247);
  grid-template-rows: 90vh;
}

.main-content-sidebar{
  background-color: rgb(223, 227, 247);
  
}

.main-content-main{
  background-color: rgb(223, 227, 247);
  
}

.content-main-button-bar{
  height: 40px;
  
}

.content-main-mails{
  background-color: #ffffff;
  margin-right: 10px;
  
}

.disabled-link-logo{
  pointer-events: none;
}

@media only screen and (max-width: 600px){
  .main-content{
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: min-content 70vh;
  }

  .content-main-mails{
    margin: 0 10px;
  }
}

@media only screen and (max-width: 768px) and (min-width: 600px){
  .main-content{
    grid-template-columns: minmax(200px, 1fr);
    grid-template-rows: min-content 70vh;
  }

  .main-content-sidebar{
    padding: 0 20vw;
  }

  .content-main-mails{
    margin: 0 20px;
  }
}