.App-header{
  background-color: rgb(184, 184, 184);
  height: 80px;
  border-radius: 0 0 8px 8px;
}

.App-logo{
  height: 80px;
  cursor: pointer;
  margin: 0 0 0 15px;
}

.userEmail{
  margin: 25px;
  float: right;
  cursor:pointer; 
}

.userEmail:hover{
  color: rgb(19, 41, 136);
}

.mainContentWrapper{
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(300px, 2fr);
  
  grid-template-rows: 100vh;
  
}

.mainContentSidebar{
  background-color: rgb(223, 227, 247);
  
}

.mainContent{
  background-color: rgb(223, 227, 247);
  
}

.mainButtonsBar{
  height: 40px;
  
}

.mainContentMails{
  background-color: #ffffff;
  margin-right: 10px;
  
}